In [276]:
# Import
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
import matplotlib.pyplot as plt
from pandas import Index

In [250]:
# Pip install to read xlsx files
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\silen\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\silen\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1 -> 23.1.1
[notice] To update, run: C:\Users\silen\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [251]:
# Load the datasets with correct encoding
hospital=pd.read_excel("../DANL470/Origin/Clean_Hospitals and Doctors offices.xlsx")
insured=pd.read_excel("../DANL470/Origin/Clean_Insured rates.xlsx")
mortality=pd.read_excel("../DANL470/Origin/Clean_Maternal Mortality Rates.xlsx")
race_and_age=pd.read_excel("../DANL470/Origin/Clean_RaceANDAge.xlsx")

In [252]:
# Print the first 5 rows of hospital
hospital.head()

,Geographic_Area_Name,Meaning_of_NAICS_code,Year,Number_of_establishments,"Annual_payroll_($1,000)",Number_of_employees
0,United States,Ambulatory health care services,2020,642970,495769754,7994079
1,United States,Hospitals,2020,7121,416877873,6184265
2,United States,Nursing and residential care facilities,2020,93113,116084943,3544511
3,United States,Social assistance,2020,184970,87763293,3493714
4,District of Columbia,Ambulatory health care services,2020,1258,1497992,22355

In [253]:
# Print the first 5 rows of inssured
insured.head()

,Label (Grouping),United_States_Total_Estimate,United_States_Insured_Estimate,United_States_Uninsured_Estimate,District_of_Columbia_Total_Estimate,District_of_Columbia_Insured_Estimate,District_of_Columbia_Uninsured_Estimate,Maryland_Total_Estimate,Maryland_Insured_Estimate,Maryland_Uninsured_Estimate,Virginia_Total_Estimate,Virginia_Insured_Estimate,Virginia_Uninsured_Estimate
0,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6 to 18 years,55251332.0,52100615.0,3150717.0,84634.0,82081.0,2553.0,1013078.0,969011.0,44067.0,1418355.0,1354465.0,63890.0
2,19 to 25 years,29194212.0,25059158.0,4135054.0,67932.0,63815.0,4117.0,505683.0,457880.0,47803.0,746778.0,665822.0,80956.0
3,26 to 34 years,39736024.0,33724063.0,6011961.0,132584.0,126839.0,5745.0,719009.0,642548.0,76461.0,987375.0,866803.0,120572.0
4,35 to 44 years,42801119.0,37236650.0,5564469.0,107653.0,104301.0,3352.0,807815.0,731818.0,75997.0,1124666.0,1006843.0,117823.0

In [254]:
# Print the first 5 rows of mortality
mortality.head()

   Deaths  Mortality_Rates
0    3478             23.5
1      11              NaN
2      59             21.2
3     113             29.1

In [255]:
# Print the first 5 rows of race and age
race_and_age.head()

         Unnamed: 0 United_States District_of_Columbia  Maryland  Virginia
0             Label      Estimate             Estimate  Estimate  Estimate
1       SEX AND AGE           NaN                  NaN       NaN       NaN
2  Total population     331893745               670050   6165129   8642274
3            Female     167543042               351025   3162038   4368343
4    15 to 19 years      21824088                35516    390410    570825

In [256]:
# Dividing into categories and numberical
hospital_cat = hospital.select_dtypes(object)
hospital_num = hospital.select_dtypes(np.number)

insured_cat = insured.select_dtypes(object)
insured_num = insured.select_dtypes(np.number)

mortality_cat = mortality.select_dtypes(object)
mortality_num = mortality.select_dtypes(np.number)

race_and_age_cat = race_and_age.select_dtypes(object)
race_and_age_num = race_and_age.select_dtypes(np.number)

In [257]:
# Check for null values
hospital_cat.isnull().sum()

Geographic_Area_Name     0
Meaning_of_NAICS_code    0
dtype: int64

In [258]:
# Check for null values
insured_cat.isnull().sum()

Label (Grouping)    0
dtype: int64

In [259]:
# Check for null values
mortality_cat.isnull().sum()

Series([], dtype: float64)

In [260]:
# Check for null values
race_and_age_cat.isnull().sum()

Unnamed: 0              0
United_States           1
District_of_Columbia    1
Maryland                1
Virginia                1
dtype: int64

In [261]:
# Replace null value with max count
race_and_age_cat.United_States.fillna(race_and_age_cat.United_States.value_counts().idxmax(), inplace=True)
race_and_age_cat.District_of_Columbia.fillna(race_and_age_cat.District_of_Columbia.value_counts().idxmax(), inplace=True)
race_and_age_cat.Maryland.fillna(race_and_age_cat.Maryland.value_counts().idxmax(), inplace=True)
race_and_age_cat.Virginia.fillna(race_and_age_cat.Virginia.value_counts().idxmax(), inplace=True)

In [262]:
# Print output
print(hospital_cat.dtypes)
print(insured_cat.dtypes)
print(mortality_cat.dtypes)
print(race_and_age_cat.dtypes)

Geographic_Area_Name     object
Meaning_of_NAICS_code    object
dtype: object
Label (Grouping)    object
dtype: object
Series([], dtype: object)
Unnamed: 0              object
United_States           object
District_of_Columbia    object
Maryland                object
Virginia                object
dtype: object

In [263]:
hospital_cat = hospital_cat.astype(str)
insured_cat = insured_cat.astype(str)
mortality_cat = mortality_cat.astype(str)
race_and_age_cat = race_and_age_cat.astype(str)

In [264]:
# Replace categories with numerical values
hospital_cat = hospital_cat.apply(le.fit_transform)
insured_cat = insured_cat.apply(le.fit_transform)
mortality_cat = mortality_cat.apply(le.fit_transform)
race_and_age_cat = race_and_age_cat.apply(le.fit_transform)

In [265]:
# Check null values
hospital_num.isna().sum()

Year                        0
Number_of_establishments    0
Annual_payroll_($1,000)     0
Number_of_employees         0
dtype: int64

In [266]:
# Check null values
insured_num.isna().sum()

United_States_Total_Estimate               3
United_States_Insured_Estimate             3
United_States_Uninsured_Estimate           3
District_of_Columbia_Total_Estimate        3
District_of_Columbia_Insured_Estimate      3
District_of_Columbia_Uninsured_Estimate    3
Maryland_Total_Estimate                    3
Maryland_Insured_Estimate                  3
Maryland_Uninsured_Estimate                3
Virginia_Total_Estimate                    3
Virginia_Insured_Estimate                  3
Virginia_Uninsured_Estimate                3
dtype: int64

In [267]:
# Replace null values
insured_num.United_States_Total_Estimate.fillna(insured_num.United_States_Total_Estimate.mean(), inplace=True)
insured_num.United_States_Insured_Estimate.fillna(insured_num.United_States_Insured_Estimate.mean(), inplace=True)
insured_num.United_States_Uninsured_Estimate .fillna(insured_num.United_States_Uninsured_Estimate .mean(), inplace=True)

insured_num.District_of_Columbia_Total_Estimate.fillna(insured_num.District_of_Columbia_Total_Estimate.mean(), inplace=True)
insured_num.District_of_Columbia_Insured_Estimate.fillna(insured_num.District_of_Columbia_Insured_Estimate.mean(), inplace=True)
insured_num.District_of_Columbia_Uninsured_Estimate.fillna(insured_num.District_of_Columbia_Uninsured_Estimate.mean(), inplace=True)

insured_num.Maryland_Total_Estimate.fillna(insured_num.Maryland_Total_Estimate.mean(), inplace=True)
insured_num.Maryland_Insured_Estimate.fillna(insured_num.Maryland_Insured_Estimate.mean(), inplace=True)
insured_num.Maryland_Uninsured_Estimate.fillna(insured_num.Maryland_Uninsured_Estimate.mean(), inplace=True)

insured_num.Virginia_Total_Estimate.fillna(insured_num.Virginia_Total_Estimate.mean(), inplace=True)
insured_num.Virginia_Insured_Estimate.fillna(insured_num.Virginia_Insured_Estimate.mean(), inplace=True)
insured_num.Virginia_Uninsured_Estimate .fillna(insured_num.Virginia_Uninsured_Estimate.mean(), inplace=True)

insured_num.isna().sum()

United_States_Total_Estimate               0
United_States_Insured_Estimate             0
United_States_Uninsured_Estimate           0
District_of_Columbia_Total_Estimate        0
District_of_Columbia_Insured_Estimate      0
District_of_Columbia_Uninsured_Estimate    0
Maryland_Total_Estimate                    0
Maryland_Insured_Estimate                  0
Maryland_Uninsured_Estimate                0
Virginia_Total_Estimate                    0
Virginia_Insured_Estimate                  0
Virginia_Uninsured_Estimate                0
dtype: int64

In [268]:
mortality_num.isna().sum()

Deaths             0
Mortality_Rates    1
dtype: int64

In [269]:
mortality_num.Mortality_Rates.fillna(mortality_num.Mortality_Rates.mean(), inplace=True)
mortality_num.isna().sum()

Deaths             0
Mortality_Rates    0
dtype: int64

In [270]:
race_and_age_num.isna().sum()

Series([], dtype: float64)

In [271]:
# Combine categories and numerical values
hospital_final = pd.concat([hospital_cat, hospital_num], axis=1)
insured_final = pd.concat([insured_cat, insured_num], axis=1)
mortality_final = pd.concat([mortality_cat, mortality_num], axis=1)
race_and_age_final = pd.concat([race_and_age_cat, race_and_age_num], axis=1)

In [277]:
# Target/independent variable
x = insured_final[['Female']].values
# Target variable/dependent variable
y = mortality_final['Mortality_Rates'].values

# Split data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

regression_model = LinearRegression()

# Train the regression model on training data
regression_model.fit(x_train, y_train)

# Plot the data points and linear regression line
plt.scatter(x_test, y_test, color='blue')
plt.plot(x_test, regression_model.predict(x_test), color='red')
plt.title('Regression of Females and Mortality Rate')
plt.xlabel('Mortality')
plt.ylabel('Female')
plt.show()

KeyError: "None of [Index(['Female'], dtype='object')] are in the [columns]"

In [278]:
df = pd. concat([hospital_final,insured_final,mortality_final,race_and_age_final], axis=1)
df.head()

,Geographic_Area_Name,Meaning_of_NAICS_code,Year,Number_of_establishments,"Annual_payroll_($1,000)",Number_of_employees,Label (Grouping),United_States_Total_Estimate,United_States_Insured_Estimate,United_States_Uninsured_Estimate,...,Virginia_Insured_Estimate,Virginia_Uninsured_Estimate,0,Deaths,Mortality_Rates,Unnamed: 0,United_States,District_of_Columbia,Maryland,Virginia
0,2,0,2020,642970,495769754,7994079,0.0,5.890928e+07,5.324828e+07,5.661003e+06,...,1.480390e+06,116101.428571,NaN,3478.0,23.5,7.0,8.0,8.0,8.0,8.0
1,2,1,2020,7121,416877873,6184265,7.0,5.525133e+07,5.210062e+07,3.150717e+06,...,1.354465e+06,63890.000000,NaN,11.0,24.6,8.0,3.0,6.0,4.0,7.0
2,2,2,2020,93113,116084943,3544511,3.0,2.919421e+07,2.505916e+07,4.135054e+06,...,6.658220e+05,80956.000000,NaN,59.0,21.2,9.0,3.0,6.0,4.0,7.0
3,2,3,2020,184970,87763293,3493714,4.0,3.973602e+07,3.372406e+07,6.011961e+06,...,8.668030e+05,120572.000000,NaN,113.0,29.1,6.0,0.0,3.0,1.0,4.0
4,0,0,2020,1258,1497992,22355,5.0,4.280112e+07,3.723665e+07,5.564469e+06,...,1.006843e+06,117823.000000,NaN,NaN,NaN,0.0,2.0,4.0,3.0,5.0

In [281]:
# Target/independent variable
x = df.index[0]
arr = np.array([0])
arr = np.reshape(arr, (-1, 1))
# Target variable/dependent variable
y = df['Mortality_Rates'].values

# Split data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

regression_model = LinearRegression()

# Train the regression model on training data
regression_model.fit(x_train, y_train)

# Plot the data points and linear regression line
plt.scatter(x_test, y_test, color='blue')
plt.plot(x_test, regression_model.predict(x_test), color='red')
plt.title('Regression of Females and Mortality Rate')
plt.xlabel('Mortality')
plt.ylabel('Female')
plt.show()

TypeError: Singleton array array(0) cannot be considered a valid collection.