In [21]:
# Import
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [22]:
# Pip install to read xlsx files
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\silen\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.2)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1 -> 23.1.1
[notice] To update, run: C:\Users\silen\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: et-xmlfile in c:\users\silen\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from openpyxl) (1.1.0)

In [23]:
# Load the datasets
hospital=pd.read_excel("../DANL470/Origin/Clean_Hospitals and Doctors offices.xlsx")
insured=pd.read_excel("../DANL470/Origin/Clean_Insured rates.xlsx")
mortality=pd.read_excel("../DANL470/Origin/Clean_Maternal Mortality Rates.xlsx")
race_and_age=pd.read_excel("../DANL470/Origin/Clean_RaceANDAge.xlsx")

In [24]:
# Print the first 5 rows of hospital
hospital.head()

,Geographic_Area_Name,Meaning_of_NAICS_code,Year,Number_of_establishments,"Annual_payroll_($1,000)",Number_of_employees
0,United States,Ambulatory health care services,2020,642970,495769754,7994079
1,United States,Hospitals,2020,7121,416877873,6184265
2,United States,Nursing and residential care facilities,2020,93113,116084943,3544511
3,United States,Social assistance,2020,184970,87763293,3493714
4,District of Columbia,Ambulatory health care services,2020,1258,1497992,22355

In [25]:
# Print the first 5 rows of inssured
insured.head()

,Label (Grouping),United_States_Total_Estimate,United_States_Insured_Estimate,United_States_Uninsured_Estimate,District_of_Columbia_Total_Estimate,District_of_Columbia_Insured_Estimate,District_of_Columbia_Uninsured_Estimate,Maryland_Total_Estimate,Maryland_Insured_Estimate,Maryland_Uninsured_Estimate,Virginia_Total_Estimate,Virginia_Insured_Estimate,Virginia_Uninsured_Estimate
0,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6 to 18 years,55251332.0,52100615.0,3150717.0,84634.0,82081.0,2553.0,1013078.0,969011.0,44067.0,1418355.0,1354465.0,63890.0
2,19 to 25 years,29194212.0,25059158.0,4135054.0,67932.0,63815.0,4117.0,505683.0,457880.0,47803.0,746778.0,665822.0,80956.0
3,26 to 34 years,39736024.0,33724063.0,6011961.0,132584.0,126839.0,5745.0,719009.0,642548.0,76461.0,987375.0,866803.0,120572.0
4,35 to 44 years,42801119.0,37236650.0,5564469.0,107653.0,104301.0,3352.0,807815.0,731818.0,75997.0,1124666.0,1006843.0,117823.0

In [26]:
# Print the first 5 rows of mortality
mortality.head()

   Deaths  Mortality_Rates
0    3478             23.5
1      11              NaN
2      59             21.2
3     113             29.1

In [27]:
# Print the first 5 rows of race and age
race_and_age.head()

         Unnamed: 0 United_States District_of_Columbia  Maryland  Virginia
0             Label      Estimate             Estimate  Estimate  Estimate
1       SEX AND AGE           NaN                  NaN       NaN       NaN
2  Total population     331893745               670050   6165129   8642274
3            Female     167543042               351025   3162038   4368343
4    15 to 19 years      21824088                35516    390410    570825

In [28]:
# Check for null values
hospital.isnull().sum()

Geographic_Area_Name        0
Meaning_of_NAICS_code       0
Year                        0
Number_of_establishments    0
Annual_payroll_($1,000)     0
Number_of_employees         0
dtype: int64

In [29]:
# Check for null values
insured.isnull().sum()

Label (Grouping)                           0
United_States_Total_Estimate               3
United_States_Insured_Estimate             3
United_States_Uninsured_Estimate           3
District_of_Columbia_Total_Estimate        3
District_of_Columbia_Insured_Estimate      3
District_of_Columbia_Uninsured_Estimate    3
Maryland_Total_Estimate                    3
Maryland_Insured_Estimate                  3
Maryland_Uninsured_Estimate                3
Virginia_Total_Estimate                    3
Virginia_Insured_Estimate                  3
Virginia_Uninsured_Estimate                3
dtype: int64

In [33]:
# Replace null values by max count of the column
insured.United_States_Total_Estimate.fillna(insured.United_States_Total_Estimate.value_counts().idxmax(), inplace=True)
insured.United_States_Insured_Estimate.fillna(insured.United_States_Insured_Estimate.value_counts().idxmax(), inplace=True)
insured.United_States_Uninsured_Estimate.fillna(insured.United_States_Uninsured_Estimate.value_counts().idxmax(), inplace=True)
insured.District_of_Columbia_Total_Estimate.fillna(insured.District_of_Columbia_Total_Estimate.value_counts().idxmax(), inplace=True)

insured.District_of_Columbia_Insured_Estimate.fillna(insured.District_of_Columbia_Insured_Estimate.value_counts().idxmax(), inplace=True)
insured.District_of_Columbia_Uninsured_Estimate.fillna(insured.District_of_Columbia_Uninsured_Estimate.value_counts().idxmax(), inplace=True)
insured.United_States_Uninsured_Estimate.fillna(insured.United_States_Uninsured_Estimate.value_counts().idxmax(), inplace=True)
insured.District_of_Columbia_Total_Estimate.fillna(insured.District_of_Columbia_Total_Estimate.value_counts().idxmax(), inplace=True)

In [ ]:
District_of_Columbia_Uninsured_Estimate    
Maryland_Total_Estimate                    
Maryland_Insured_Estimate                  
Maryland_Uninsured_Estimate                
Virginia_Total_Estimate                    
Virginia_Insured_Estimate                  
Virginia_Uninsured_Estimate